.hero-content {
  background-color: #2F1D57;
  padding: 100px 0;
  background: #2F1D57;

  h1 {
    font-size: 70px;
    margin-bottom: 50px;
    font-weight: 300;
  }
}

.selling-points {
  padding: 100px 0;
  
  .point h5 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  height: 85px;
  }
  
  .point p {
  font-size: 14px;
  }
}

.cover {
  box-sizing: border-box;
  position: relative;
  perspective: 1000;
  padding: 0;
  margin: 0;
}

.cover:hover .coverContainer {
  transform: rotateY(180deg);
}

.coverContainer {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.coverFront, .coverBack {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.coverFront {
  z-index: 2;
  transform: rotateY(0deg);
}

.coverBack {
  transform: rotateY(180deg);
  background: rgba(255, 255, 255, .25);
}

.cover, .coverFront, .coverFront img, .coverBack {
  width: 390px;
  height: 390px;
}